* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  /* background-color: red; */
}

.container {
  width: 100vw;
  height: 500px;
  margin: auto;
  border: 1px solid black;
  background-image: linear-gradient(green, blue);
}
.container-calculator {
  border: 1px solid black;
  margin: 5rem auto;
  display: grid;
  gap: 0.1rem;
  width: 50%;
  height: 360px;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

.container-calculator > * {
  cursor: pointer;
  font-size: 2rem;
  outline: none;
  background-color: rgba(255, 255, 255, 0.676);
  border: 2px solid white;
}

.container-calculator > button:hover,
.container-calculator > button:focus {
  background-color: rgba(255, 255, 255, 0.9);
}

.output {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: flex-end;
  background-color: rgba(125, 125, 125, 0.676);
  grid-column: 1 / span 4;
  padding: 1rem;
  word-wrap: break-word;
  word-break: break-all;
}

.span-two {
  grid-column: 1 / span 2;
}
.span-two2 {
  grid-column: 3 / span 2;
}

.current-oprand {
  font-size: 2rem;
}
