* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  width: 600px;
  height: 500px;
  background-color: beige;
  margin: 30px auto;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;
}
