.box {
  /* border: black 1px solid; */
  background-color: red;
  /* color: rgb(100, 200, rgb(142, 142, 188)); */
  animation: sizeingAnim 1s ease-in;
}

@keyframes sizeingAnim {
  from {
    width: 0px;
    display: none;
  }
  to {
    width: 100px;
    display: flex;
  }
}
